#container {
  height: 100vh !important;
  position: relative;
  opacity: 0;
  animation: anim 2s forwards 1s;

  scroll-snap-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("../../assets/chariot.jpg");
    background-size: cover;
    background-position: top center;
    opacity: 0.25;
  }
}

@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#box-2 {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  #h2 {
    position: relative;
    left: -110%;
    animation: text-anim 3s forwards 1s;
  }

  h1 {
    color: #bcee08;
    font-size: 6rem !important;
    text-shadow: 5px 7px 10px black;
    font-family: "Permanent Marker", cursive !important;
    line-height: 6.5rem;
  }
}

@keyframes text-anim {
  from {
    left: -110%;
  }
  to {
    left: 0;
  }
}

.btn.btn-secondary {
  border: none;
  color: #bcee08;
  font-size: 26px;
  font-weight: 700;
  background: transparent;
  transition: transform 1s ease-out;

  &:focus,
  &:hover {
    background: transparent;
    color: #c2e73b;
    transform: translateY(-10px);
  }
}
