#container {
  height: 100vh !important;
  position: relative;

  animation: anim 2s forwards 1s;

  scroll-snap-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
  }
}
