body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(315deg, #36096d 0%, #0f0ca8 74%);

  scroll-behavior: smooth;
  overflow: auto;
}
